<div class="big-card__container">
    <!--mock-->
    <div class="big-card__image">
        <img 
        src="https://flowbite.com/docs/images/examples/image-1@2x.jpg" 
        alt=""
        height="250px"
        srcset="">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
    </div>
    <div class="big-card_description">
        <p>
            <a href="#">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam facilis tempora officia suscipit aliquid praesentium vel nesciunt tenetur quasi, accusantium expedita cumque recusandae impedit ex voluptates et atque repudiandae in!
            </a>
        </p>
    </div>
</div>
